/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh; 
    background: linear-gradient(to right, #ff75c3, #4c6469); 
  } */
  
  /* .container h1 {
    font-size: 36px;
    color: white; 
    padding: 10px; 
  } */